@import "tailwindcss";

@layer base {
  body {
    @apply transition-colors duration-700 ease-in-out font-sans text-[#334155] bg-[#F8FAFC];
  }
}

/* Custom minimal scrollbar for the hourly forecast row */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
